# Workaround for docekr context shenanigans

# Ignore everything
**

# Allow next-static-server
!bmsSpring/next-static-server/**

# Allow client-next
!client-next/**

# But exclude static folder inside next-static-server
bmsSpring/next-static-server/src/main/resources/static/

client-next/Dockerfile
client-next/.dockerignore
client-next/node_modules
client-next/npm-debug.log
client-next/.next
client-next/.git
client-next/.idea
client-next/analyze