@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 2 2% 98%;
        --foreground: 222.2 84% 4.9%;

        --card: 2 2% 98%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 2 2% 98%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --amber: 32 95% 44%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --success: 120 61% 42%;
        --success-foreground: 0 0% 8%;

        --shadow-color: rgba(0, 0, 0, 0.115);

        --scrollbar-bg: 210, 4%, 89%;
        --scrollbar-thumb: 227 2% 29%;
        --scrollbar-thumb-hover: 227 2% 48%;

        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
        --chart-6: 173 58% 39%;


        --nivo-unknown: #9ca3af

    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --amber: 27 96% 61%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --success: 134 65% 33%;
        --success-foreground: 0 0% 98%;

        --shadow-color: rgba(255, 255, 255, 0.115);

        --scrollbar-bg: 217 36% 21%;
        --scrollbar-thumb: var(--background);
        --scrollbar-thumb-hover: 227 30% 31%;


        --chart-1: 221.2 83.2% 53.3%;
        --chart-2: 212 95% 68%;
        --chart-3: 216 92% 60%;
        --chart-4: 210 98% 78%;
        --chart-5: 212 97% 87%;
        --chart-6: 173 58% 39%;

        --nivo-unknown: #4b5563;
    }
}

/*reference line work around*/
.custom-reference-line .recharts-reference-line-line {
    stroke: hsl(var(--muted-foreground)) !important;

}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground scroll-smooth;
    }


}


::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: hsl(var(--scrollbar-bg));

}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--scrollbar-thumb));
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--scrollbar-thumb-hover));
}

::-webkit-scrollbar-corner {
    background-color: hsl(var(--background));
}

.like-button {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.burst {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: none;
}

.burst.show {
    display: block;
}

.burst .particle::before {
    content: "🌯";
    position: absolute;
    font-size: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burst .particle {
    content: "";
    position: absolute;
    background-color: transparent;
    opacity: 0;
    animation: particle-burst 1.5s ease-out forwards;
}

.burst .particle1 {
    top: 0;
    left: 50%;
    animation-name: particle-burst1;
}

.burst .particle2 {
    top: 25%;
    left: 75%;
    animation-name: particle-burst2;
}

.burst .particle3 {
    top: 50%;
    left: 100%;
    animation-name: particle-burst3;
}

.burst .particle4 {
    top: 75%;
    left: 75%;
    animation-name: particle-burst4;
}

.burst .particle5 {
    top: 100%;
    left: 50%;
    animation-name: particle-burst5;
}

.burst .particle6 {
    top: 75%;
    left: 25%;
    animation-name: particle-burst6;
}

.burst .particle7 {
    top: 50%;
    left: 0;
    animation-name: particle-burst7;
}

.burst .particle8 {
    top: 25%;
    left: 25%;
    animation-name: particle-burst8;
}

@keyframes particle-burst1 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, -20px);
    }
}

@keyframes particle-burst2 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(14px, -14px);
    }
}

@keyframes particle-burst3 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(20px, 0);
    }
}

@keyframes particle-burst4 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(14px, 14px);
    }
}

@keyframes particle-burst5 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 20px);
    }
}

@keyframes particle-burst6 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-14px, 14px);
    }
}

@keyframes particle-burst7 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-20px, 0);
    }
}

@keyframes particle-burst8 {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-14px, -14px);
    }
}
